<!doctype html>
<html lang="pt-br" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>403</title>
    <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/css/index.min.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <div class="container text-center">
        <img src="/images/Tony.png" alt="Logotipo empresa">
        <h1 class="display-6">Código 403: Token inválido</h1>
        <h2 class="lead">
          {{ value is defined ? value : 'Para requisições POST você deve informar um Token válido!' }}
        </h2>
      </div>
    </main>
  </body>
</html>
