{% extends 'layout.html.twig' %}

{% block content %}

<main class="flex-shrink-0">
  <div class="container text-center">
    <img src="/images/Tony.png" alt="Logotipo empresa">
    <h1 class="display-6">{{ trans(message) }}</h1>
    <h2 class="lead">Versão: 4.0</h2>
    <p>Para accessar o console, na pasta do projeto digite: <code>php tony list</code> em seu terminal</p>
  </div>
</main>

{% endblock %}
